<%- include('partials/header') %>

<h1><%= title %></h1>

<div>
  <p><a href="/outfits">View Outfits</a></p>
  <p><a href="/outfits/new">Create Outfit</a></p>
  <p><a href="/closet">View Closet</a></p>
</div>

<%- include('partials/footer') %>
