<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Create a new outfit</p>
    <p><a href="/">Back to all outfits</a></p>
  </body>
</html>
