<%- include('../partials/header') %>

<h1>Outfit: <%= outfit.title %></h1>
<h3>Created <%= time_ago %></h3>

<div>
  <a href="/outfits">All Outfits</a>
  <a href="/">Home</a>
</div>

<%- include('../partials/footer') %>
