<!DOCTYPE html>
<html>
  <head>
    <title><%= outfit.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Outfit: <%= outfit.title %></h1>
    <p><a href="/outfits">All outfits</a></p>
  </body>
</html>
